body {
    background: black;
}

.caixa {
    position: relative;
    width: 1600px;
    max-width: 100%;
    padding: 10px 10px 5px;
    text-decoration: unset;
}

.logo {
    float: left;
    width: 15%;
    height: 100%;
}

.navegacao {
    float: left;
    width: 70%;
    height: 100%;
    margin-top: 25px;
    text-transform: uppercase;
}

nav {
    display: inline;
    margin: 0 auto;
    padding-top: 10px;
}

.links {
    font-size: 15PX;
    padding: 30px 10px 38px 9px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 20px;
}

a:hover {
    color: rgb(92, 226, 92);
}

.links-img {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    margin: 0 auto;
}

.segundo-links {
    position: absolute;
    top: 110px;
    left: 0;
    margin: 0 auto;
    background: #2c2c2c;
    width: 100%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

main {
    margin: 20px auto;
}

.imagen {
    width: 350px;
    position: relative;
    margin-top: 10em;
    box-sizing: border-box;
    margin-left: 50px;
}

p {
    text-align: left;
    font-size: 16.8px;
    color: white;
    font-weight: bold;
    width: 400px;
    margin: 0 1.5em 0 1em;
    border: 0;
    position: relative;
    box-sizing: border-box;
    line-height: 25px;
    margin-left: 50px;
}

.latagrandeverde {
    width: 200px;
    float: right;
    clear: left;
    margin: 160px 500px 0 0;
}

.lataverde {
    box-sizing: border-box;
    float: right;
    clear: left;
    margin: -440px 300px 300px 100px;
    border-radius: 20px;
    border: none;
    color: black;
}

.lataazul {
    box-sizing: border-box;
    float: right;
    clear: left;
    margin: -440px -320px 400px 100px;
    border-radius: 5px;
    border: none;
    color: black;
}

.latadark {
    box-sizing: border-box;
    float: right;
    clear: left;
    margin: -230px -195px 10px 0px;
    border-radius: 5px;
    border: none;
    color: black;
    width: 90px;
}

.lataverde:hover {
    transform: scale(1.2);
    transition: 2s;
    box-shadow: inset 5px 5px 5px 5px #353434;
}

.lataazul:hover {
    transform: scale(1.2);
    transition: 2s;
    box-shadow: inset 5px 5px 5px 5px #353434;
}

.latadark:hover {
    transform: scale(1.2);
    transition: 2s;
    box-shadow: inset 5px 5px 5px 5px #353434;
}

.latas {
    box-sizing: content-box;
    margin: 10px 10px 10px 10px;
}

h2 {
    font-weight: bold;
    color: rgb(65, 63, 63);
}

.recomendado {
    text-align: center;
    font-size: 150px;
    width: 100%;
    margin-top: 2.5em;
    background: black;
}

.paravoce {
    color: #fff;
    position: absolute;
    font-weight: 900;
    font-size: 3.429em;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    top: 20.30em;
    left: 0;
}

.mentalidade {
    float: left;
    width: 30%;
    height: 100%;
    padding-left: 5px;
    padding-top: 100px;
    margin-left: 30px;
}

.moto {
    border: 3px solid silver;
    width: 95%;
    height: 100%;
}

.moto:hover {
    border: 3px solid green;
    cursor: pointer;
}

.texto-img {
    color: #fefefe;
    text-transform: uppercase;
    text-align: left;
    padding-right: 100px;
    margin: 0;
}

.texto-img:hover {
    color: green;
    cursor: pointer;
}